{% extends "index.html" %}

{% block css %}
	<style>
		th {
		    border-bottom: 1px solid #d6d6d6;
		}
		tr:nth-child(even) {
		    background: #e9e9e9;
		}
	</style>
{% endblock %}

{% block header %}
    <fieldset class='ui-grid-a'>
	    <div class='ui-block-a'><button id='init' style='width:100%;' onclick='init()'>初始化</button></div>
	    <div class='ui-block-b'><button id='del' style='width:100%;' onclick='del()'>清除</button></div>
    </fieldset>
{% endblock %}

{% block main %}
    <div id="orders" style='text-align:center;'>
        <tr>無訂單</tr>
    </div>
{% endblock %}
{% block footer %}
	<a href="/" style="width:100%;" data-ajax=false data-transition="slideup" class="ui-btn ui-corner-all ui-shadow">返回</a>
{% endblock %}
{% block js %}
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script type="text/javascript">
      function init(){
        $.ajax({
	      url:"{{ url_for('.init')}}",
          method: 'PUT',
	      success: function(data, textStatus, xhr){
            alert(data['msg']);
            update_orders();
          },
          error: function(xhr){
            var jsonResponse = JSON.parse(xhr.responseText);
            alert(jsonResponse['msg']);
          }
        });
      }
      function del(){
        $.ajax({
	      url:"{{ url_for('.init')}}",
          method: 'DELETE',
	      success: function(data, textStatus, xhr){
            alert(data['msg']);
            update_orders();
          },
          error: function(xhr){
            var jsonResponse = JSON.parse(xhr.responseText);
            alert(jsonResponse['msg']);
          }
        });
      }
	  function update_orders(){
	    $.ajax({
	      url:"{{ url_for('.init') }}",
	      success: function(data, textStatus, xhr){
	        $("#orders").html('');
	        $("#orders").append(
                "<table align='center'>" +
                "<thead><tr><th>桌號</th><th>位置描述</th><th>餐點</th><th>數量</th><th>附註</th><th>狀態</th><th></th></tr></thead>" +
                "<tbody id='orderTable'></tbody>"+
                "</table>"
            );
	        $(data['orders']).each(function(i, el){
	          var order = "<tr><td>" + el['table_id' ]+ '</td><td>' + el['table_description'] + "</td><td>" + 
                el['meal_name'] + "</td><td>" + el['amount'] +"</td><td>"+  
                el['comment'] +"</td><td>"+  el['state_name']; 
	          $("#orderTable").append( order ); 
	        });
	      },
          error: function(xhr){
	        $("#orders").html('');
            var jsonResponse = JSON.parse(xhr.responseText);
	        $("#orders").append( jsonResponse['msg']);
          }
	    });
	  }
	  // only execute after loading the whole HTML
	  $(document).ready(function(){
	    update_orders();
	  });
	</script>
{% endblock %}
